div#header {
    position: fixed;
    width: 100%;
    height: 55px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(34, 37, 37);
    font-family: 'Finlandica', sans-serif;
    font-size: 30px;
    z-index: 2;
}